:root {
    --fav: #dfb592;
}

body {
    font-family: "Roboto Slab", serif;

    >main {

        >section {

            width: 100%;
            height: 140vh;
            /* background-color: aqua; */
            background-image: url(assets/gallery/hero-tattoo-bg-1.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: rgba(0, 0, 0, 0.904);
            /* position: fixed; */
            background-attachment: fixed;
            display: flex;
            align-content: flex-start;
            /* border: 1px solid rgb(170, 20, 0); */

            >div {
                width: 100%;



                &:first-of-type {

                    display: flex;
                    justify-content: center;
                    padding: 0 auto;
                    height: 80px;
                    background-color: rgba(0, 0, 0, 0.405);
                    border-bottom: 1px dashed rgba(255, 255, 255, 0.493);

                    >p {
                        font-size: 15px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: auto;
                        width: 20%;

                        >a {
                            transition: .2s;

                            /* border: 1px solid rgb(255, 252, 252); */
                            &:hover {
                                color: var(--fav);
                            }
                        }

                        /* flex-wrap: wrap; */
                    }
                }

                &:nth-of-type(2) {
                    /* position: relative; */
                    display: flex;
                    height: 100px;
                    background-color: rgba(0, 0, 0, 0.405);
                    padding: 0 300px;
                    /* border: 1px solid red; */

                    >figure {
                        width: 25%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        >img {
                            width: 250px;

                        }

                    }

                    >nav {
                        width: 50%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        >ul {
                            display: flex;
                            width: 100%;

                            /* border: 1px solid white; */
                            >li {
                                /* border: 1px solid red; */
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                position: relative;
                                align-items: center;

                                >a {
                                    transition: .2s;
                                    font-size: 20px;
                                    color: white;
                                    text-transform: uppercase;



                                    &:hover {
                                        color: var(--fav);
                                    }
                                }

                                &:first-of-type {
                                    &:hover {
                                        >ul {
                                            height: 350px;
                                        }
                                    }

                                    >ul {
                                        /* z-index: 10; */
                                        display: flex;
                                        flex-wrap: wrap;
                                        width: 300%;
                                        height: 0;
                                        position: absolute;
                                        top: 40px;
                                        left: 0;
                                        transition: .4s;
                                        border-radius: 10px;
                                        overflow: hidden;

                                        /* background-color: aliceblue;
                                        border: 1px solid red; */


                                        >li {
                                            width: 100%;
                                            height: 50%;
                                            background-color: rgb(65, 65, 61);


                                            /* border: 1px solid blue; */

                                            >a {
                                                width: 100%;
                                                height: 100%;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;

                                                &:hover {
                                                    >div {
                                                        &::after {
                                                            opacity: 1;
                                                        }

                                                        >img {
                                                            scale: 1.30;

                                                        }
                                                    }
                                                }



                                                >div {
                                                    position: relative;
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    width: 95%;
                                                    height: 85%;
                                                    overflow: hidden;

                                                    &::after {
                                                        content: '';
                                                        width: 100%;
                                                        height: 100%;
                                                        background-color: rgba(0, 0, 0, 0.439);
                                                        opacity: 0;
                                                        transition: .4s;
                                                        z-index: 1;
                                                    }


                                                    >p {
                                                        position: absolute;
                                                        font-size: 35px;
                                                        color: rgb(255, 255, 255);
                                                        font-weight: bolder;
                                                    }

                                                    >img {
                                                        position: absolute;
                                                        width: 100%;
                                                        height: 100%;
                                                        object-fit: cover;
                                                        transition: .8s;

                                                    }
                                                }
                                            }



                                        }
                                    }

                                }

                                &:nth-of-type(2) {
                                    position: relative;

                                    &:hover {
                                        >ul {
                                            opacity: 1;
                                            visibility: visible;
                                            height: 600px;
                                        }
                                    }

                                    >ul {
                                        transition: .6s;
                                        visibility: hidden;
                                        opacity: 0;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 0px;
                                        width: 1500px;
                                        display: flex;
                                        flex-wrap: wrap;
                                        /* border: 1px solid red; */
                                        background-color: rgb(65, 65, 61);
                                        position: absolute;
                                        top: 40px;
                                        left: -400px;

                                        >li {

                                            height: 100%;
                                            width: 25%;

                                            >a {
                                                display: flex;
                                                justify-content: center;
                                                width: 100%;
                                                height: 100%;

                                                >figure {
                                                    /* border: 1px solid pink; */
                                                    width: 100%;
                                                    height: 100%;
                                                    display: flex;
                                                    flex-wrap: wrap;
                                                    justify-content: center;

                                                    &:hover {
                                                        >img {
                                                            box-shadow: 0 0 10px 2px;
                                                            scale: 1.05;
                                                        }

                                                        >figcaption {
                                                            color: var(--fav);
                                                        }
                                                    }

                                                    >img {
                                                        margin-top: 20px;
                                                        width: 90%;
                                                        height: 80%;
                                                        transition: .3s;
                                                    }

                                                    >figcaption {
                                                        font-size: 30px;
                                                        color: white;
                                                        transition: .3s;

                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                &:nth-of-type(4) {
                                    position: relative;

                                    &:hover {
                                        >ul {
                                            height: 200px;
                                            visibility: visible;
                                            opacity: 1;
                                        }
                                    }

                                    >ul {
                                        transition: .4s;
                                        position: absolute;
                                        left: 0;
                                        top: 40px;
                                        width: 300px;
                                        height: 0;
                                        /* border: 1px solid red; */
                                        visibility: hidden;
                                        opacity: 0;

                                        >li {
                                            width: 100%;
                                            height: 50%;
                                            display: flex;
                                            background-color: rgb(65, 65, 61);
                                            align-items: center;
                                            padding-left: 15px;
                                            transition: .3s;

                                            &:hover {
                                                background-color: var(--fav);

                                                >a {
                                                    color: black;
                                                }
                                            }

                                            &:first-of-type {
                                                border-bottom: 1px solid rgba(255, 255, 255, 0.189);
                                            }

                                            >a {
                                                font-size: 25px;
                                                color: white;
                                                transition: .3s;

                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    >div {
                        width: 25%;
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        >button {
                            display: flex;
                            width: 55%;
                            height: 60%;
                            background-color: var(--fav);
                            justify-content: center;
                            align-items: center;
                            font-size: 20px;
                            text-transform: uppercase;
                            transition: .4s;

                            &:hover {
                                background-color: rgb(220, 91, 32);

                                >a {
                                    color: var(--fav);
                                }
                            }
                        }
                    }

                }

                &:nth-of-type(3) {
                    width: 100%;
                    height: calc(100% - 180px - 400px);
                    display: flex;
                    background-color: rgba(0, 0, 0, 0.406);
                    justify-content: center;

                    >div {

                        &:first-of-type {

                            /* border: 1px solid red; */
                            height: 70%;
                            width: 50%;
                            margin: auto auto;
                            /* background-color: aqua; */
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            align-content: flex-start;
                            padding: 0 300px;






                            >h1 {
                                font-size: 50px;
                                color: white;
                                /* text-align: center; */
                                /* border: 1px solid black; */
                                margin-top: 200px;



                            }

                            >p {
                                /* border: 1px solid red; */
                                font-size: 20px;
                                color: white;
                                /* text-align: center; */
                                margin-top: 30px;


                            }

                            >button {
                                font-size: 20px;
                                color: black;
                                width: 250px;
                                height: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-top: 10%;
                                background-color: #dfb592;
                                padding: 0;
                                /* margin-left: 200px; */
                                transition: .4s;
                                text-transform: uppercase;

                                &:hover {
                                    color: white;
                                    background-color: rgb(227, 74, 28);
                                }
                            }
                        }

                        &:last-of-type {
                            /* border: 1px solid red; */
                            width: 50%;
                            height: 80%;
                            margin: auto auto;
                            padding: 0 0;
                            padding-right: 300px;
                            /* background-color: aqua; */
                            display: flex;
                            flex-wrap: wrap;

                            &:hover {
                                >figure {
                                    &:first-of-type {
                                        transform: translate(0, 100%);
                                    }

                                    &:last-of-type {
                                        transform: translate(0, -100%);
                                    }
                                }
                            }

                            >figure {
                                transition: .5s;
                                width: 50%;
                                height: 50%;
                                display: flex;
                                flex-wrap: wrap;
                                object-fit: cover;
                                box-shadow: 0 0 10px 3px;
                                border-radius: 5px;
                                overflow: hidden;

                                &:first-of-type {
                                    align-self: flex-start;

                                }

                                &:last-of-type {
                                    align-self: flex-end;


                                }

                                >img {
                                    height: 100%;
                                    width: 100%;


                                }
                            }
                        }
                    }

                }

                &:nth-of-type(4) {
                    width: 100%;
                    height: 400px;
                    background-color: rgba(0, 0, 0, 0.961);
                    background-image: url(assets/gallery/grunge-bg-1.png);
                    justify-content: center;
                    align-items: center;
                    padding-top: 40px;

                    >div {
                        width: 25%;
                        height: 70%;

                        /* background-color: aqua;
                        border: 1px solid black; */
                        >div {
                            width: 100%;
                            height: 50%;
                            display: flex;

                            &:first-of-type {
                                padding: 0 10px;

                                >i {
                                    padding-top: 15px;
                                    font-size: 70px;
                                    color: var(--fav);
                                }

                                >h4 {
                                    padding-top: 20px;
                                    font-size: 30px;
                                    color: white;
                                }
                            }

                            &:last-of-type {
                                font-size: 20px;
                                color: white;
                                padding: 0 20px;
                            }
                        }
                    }
                }


            }

        }

        >article {
            width: 100%;
            height: 1200px;
            /* background-color: aquamarine; */
            /* z-index: 3; */
            justify-content: start;

            >div {
                width: 100%;

                &:first-of-type {
                    height: 150px;
                    background-image: url(assets/gallery/floral-section-separator-1.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    /* background-color: rgb(255, 255, 255); */

                }

                &:last-of-type {
                    width: 100%;
                    height: calc(100% - 150px);
                    /* background-color: aquamarine; */
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >div {
                        height: 95%;
                        width: 30%;
                        /* border: 1px solid red; */
                        /* background-color: aqua; */
                        display: flex;

                        &:first-of-type {
                            &:hover {
                                >div {
                                    &:first-of-type {
                                        transform: translate(0, 250px);
                                    }

                                    &:last-of-type {
                                        transform: translate(0, -250px);
                                    }
                                }
                            }

                            >div {
                                box-shadow: 0 0 10px 2px;
                                display: flex;
                                width: 50%;
                                height: 75%;
                                object-fit: cover;
                                transition: .4s;



                                &:first-of-type {
                                    align-self: flex-start;

                                }

                                &:last-of-type {
                                    align-self: flex-end;
                                }

                                >img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                        }

                        &:last-of-type {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            align-content: flex-start;
                            margin-top: auto;

                            >h2 {
                                font-size: 60px;
                                color: black;
                                padding: 0 40px;
                                text-align: center;
                                margin-top: 80px;
                            }

                            >p {
                                font-size: 25px;
                                color: black;
                                padding: 0 40px;
                                margin-top: 50px;
                                text-align: center;
                            }

                            >ul {
                                font-size: 25px;
                                padding: 0 40px;
                                margin-top: 50px;

                                >li {
                                    padding: 10px 0;
                                }
                            }

                            >div {
                                margin-top: 80px;
                                /* border: 1px solid darkblue; */
                                width: 80%;
                                border-bottom: 1px dashed rgba(128, 128, 128, 0.543);
                                border-top: 1px dashed rgba(128, 128, 128, 0.543);
                                position: relative;

                                &:hover {
                                    &::before {
                                        background-color: rgb(254, 125, 11);
                                    }
                                }


                                &::before {
                                    content: '';
                                    height: 70%;
                                    width: 5px;
                                    color: var(--fav);
                                    position: absolute;
                                    top: 23.7px;
                                    left: 0;
                                    background-color: var(--fav);
                                    transition: .4s;

                                }

                                >p {
                                    font-size: 30px;
                                    color: black;
                                    padding: 40px 10px;
                                    text-align: center;
                                }
                            }

                        }
                    }
                }

            }
        }

        >div {
            width: 100%;
            height: 2000px;
            background-color: rgba(0, 0, 0, 0.918);

            /* border: 2px solid red; */
            >div {
                &:first-of-type {
                    width: 100%;
                    height: 350px;
                    background-image: url(assets/gallery/dotted-bg-1.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    >p {
                        font-size: 30px;
                        color: var(--fav);
                        width: 100%;
                        height: 50%;
                        display: flex;
                        text-align: center;
                        align-items: flex-end;
                        justify-content: center;
                    }

                    >h2 {
                        display: flex;
                        text-align: center;
                        align-items: flex-start;
                        justify-content: center;
                        font-size: 70px;
                        color: white;
                        width: 100%;
                        height: 50%;
                        /* border: 1px solid red; */
                    }

                }

                &:last-of-type {
                    width: 100%;
                    height: 1650px;
                    /* border: 1px solid firebrick; */

                    >div {
                        width: 25%;
                        height: 50%;
                        /* border: 3px solid blue; */

                        &:nth-of-type(1) {
                            background-image: url(assets/gallery/geomatric-tattoos-1.jpg);
                            background-size: cover;
                        }

                        &:nth-of-type(2) {
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            flex-direction: row;
                            flex-wrap: wrap;
                            position: relative;

                            &:hover {
                                &::before {
                                    opacity: 1;
                                }
                            }

                            &::before {
                                content: '';
                                width: 100%;
                                height: 100%;
                                background-color: rgba(110, 108, 108, 0.2);
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                transition: .4s;
                                z-index: 1;
                            }

                            * {
                                z-index: 2;
                            }

                            >i {
                                >span {
                                    /* border: 1px solid white; */
                                    /* width: 300px; */
                                    font-size: 120px;
                                    color: var(--fav);
                                    padding-bottom: 50px;

                                }
                            }

                            >h4 {
                                width: 100%;
                                font-size: 50px;
                                color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                            }

                            >p {
                                width: 100%;
                                font-size: 25px;
                                color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding-top: 15px;

                            }

                            >div {
                                width: 100%;
                                height: 100px;
                                margin-top: 50px;
                                /* border: 1px solid red; */
                                display: flex;
                                justify-content: center;
                                align-items: flex-end;

                                >button {
                                    width: 210px;
                                    height: 80px;
                                    border: 1px solid rgba(255, 255, 255, 0.631);
                                    background-color: rgba(0, 0, 0, 0);
                                    transition: .4s;

                                    &:hover {
                                        background-color: var(--fav);
                                    }

                                    >a {
                                        font-size: 20px;
                                        color: white;
                                        width: 100%;
                                        height: 100%;
                                        /* background-color: #dfb592; */
                                        padding: 10px 20px;
                                        z-index: 12;
                                    }
                                }

                            }
                        }

                        &:nth-of-type(3) {
                            background-image: url(assets/gallery/micro-tattoos-1.jpg);
                            background-size: cover;
                        }

                        &:nth-of-type(4) {
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            flex-direction: row;
                            flex-wrap: wrap;
                            position: relative;

                            &:hover {
                                &::before {
                                    opacity: 1;
                                }
                            }

                            &::before {
                                content: '';
                                width: 100%;
                                height: 100%;
                                background-color: rgba(208, 71, 21, 0.2);
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                transition: .4s;
                            }

                            * {
                                z-index: 2;
                            }

                            >i {
                                >span {
                                    /* border: 1px solid white; */
                                    /* width: 300px; */
                                    font-size: 120px;
                                    color: var(--fav);
                                    padding-bottom: 50px;
                                }
                            }

                            >h4 {
                                width: 100%;
                                font-size: 50px;
                                color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            >p {
                                width: 100%;
                                font-size: 25px;
                                color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding-top: 15px;
                            }

                            >div {
                                width: 100%;
                                height: 100px;
                                margin-top: 50px;
                                /* border: 1px solid red; */
                                display: flex;
                                justify-content: center;
                                align-items: flex-end;

                                >button {
                                    width: 210px;
                                    height: 80px;
                                    border: 1px solid rgba(255, 255, 255, 0.631);
                                    background-color: rgba(0, 0, 0, 0);
                                    transition: .4s;

                                    &:hover {
                                        background-color: var(--fav);
                                    }

                                    >a {
                                        font-size: 20px;
                                        color: white;
                                        width: 100%;
                                        height: 100%;
                                        /* background-color: #dfb592; */
                                        padding: 10px 20px;
                                        z-index: 12;
                                    }
                                }

                            }
                        }

                        &:nth-of-type(5) {
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            flex-direction: row;
                            flex-wrap: wrap;
                            position: relative;

                            &:hover {
                                &::before {
                                    opacity: 1;
                                }
                            }

                            &::before {
                                content: '';
                                width: 100%;
                                height: 100%;
                                background-color: rgba(208, 71, 21, 0.2);
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                transition: .4s;
                            }

                            * {
                                z-index: 2;
                            }

                            >i {
                                >span {
                                    /* border: 1px solid white; */
                                    /* width: 300px; */
                                    font-size: 120px;
                                    color: var(--fav);
                                    padding-bottom: 50px;
                                }
                            }

                            >h4 {
                                width: 100%;
                                font-size: 50px;
                                color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            >p {
                                width: 100%;
                                font-size: 25px;
                                color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding-top: 15px;
                            }

                            >div {
                                width: 100%;
                                height: 100px;
                                margin-top: 50px;
                                /* border: 1px solid red; */
                                display: flex;
                                justify-content: center;
                                align-items: flex-end;

                                >button {
                                    width: 210px;
                                    height: 80px;
                                    border: 1px solid rgba(255, 255, 255, 0.631);
                                    background-color: rgba(0, 0, 0, 0);
                                    transition: .4s;

                                    &:hover {
                                        background-color: var(--fav);
                                    }

                                    >a {
                                        font-size: 20px;
                                        color: white;
                                        width: 100%;
                                        height: 100%;
                                        /* background-color: #dfb592; */
                                        padding: 10px 20px;
                                        z-index: 12;
                                    }
                                }

                            }
                        }

                        &:nth-of-type(6) {
                            background-image: url(assets/gallery/traditional-tattoos-1.jpg);
                            background-size: cover;
                        }

                        &:nth-of-type(7) {
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            flex-direction: row;
                            flex-wrap: wrap;
                            position: relative;

                            &:hover {
                                &::before {
                                    opacity: 1;
                                }
                            }

                            &::before {
                                content: '';
                                width: 100%;
                                height: 100%;
                                background-color: rgba(110, 108, 108, 0.2);
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 0;
                                transition: .4s;
                            }

                            * {
                                z-index: 2;
                            }

                            >i {
                                >span {
                                    /* border: 1px solid white; */
                                    /* width: 300px; */
                                    font-size: 120px;
                                    color: var(--fav);
                                    padding-bottom: 50px;
                                }
                            }

                            >h4 {
                                width: 100%;
                                font-size: 50px;
                                color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            >p {
                                width: 100%;
                                font-size: 25px;
                                color: white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding-top: 15px;
                            }

                            >div {
                                width: 100%;
                                height: 100px;
                                margin-top: 50px;
                                /* border: 1px solid red; */
                                display: flex;
                                justify-content: center;
                                align-items: flex-end;

                                >button {
                                    width: 210px;
                                    height: 80px;
                                    border: 1px solid rgba(255, 255, 255, 0.631);
                                    background-color: rgba(0, 0, 0, 0);
                                    transition: .4s;

                                    &:hover {
                                        background-color: var(--fav);
                                    }

                                    >a {
                                        font-size: 20px;
                                        color: white;
                                        width: 100%;
                                        height: 100%;
                                        /* background-color: #dfb592; */
                                        padding: 10px 20px;
                                        z-index: 12;
                                    }
                                }

                            }
                        }

                        &:nth-of-type(8) {
                            background-image: url(assets/gallery/realism-tattoos-1.jpg);
                            background-size: cover;

                        }
                    }
                }
            }
        }

        .roo {
            width: 100%;
            height: 2500px;
            background-color: rgb(255, 255, 255);
            /* border: 1px solid red; */
            background-image: url(assets/gallery/logo-bg-2.png);
            background-repeat: no-repeat;
            background-position: 600px 50px;
            justify-content: center;
            align-items: center;
            >article{
                width: 60%;
                height: 90%;
                /* border: 1px solid black; */
                
                >div{
                    width: 100%;
                    height: 22.5%;
                    /* border: 1px solid violet; */
                    display: flex;
                    gap: 25px;
                    transition: .4s;
                    
                    
                    &:first-of-type{
                        height: 10%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        >p{
                            width: 100%;
                            height: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            font-size: 30px;
                            color: rgba(0, 0, 0, 0.656);
                        }
                        >h2{
                            width: 100%;
                            height: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            font-size: 60px;
                        }
                        
                    }
                    &:nth-of-type(2){
                        
                            &:hover{
                                transform: translate(0, -30px);
                            }
                        
                    }
                    &:nth-of-type(3){
                        
                            &:hover{
                                transform: translate(0, -30px);
                            }
                        
                    }
                    &:nth-of-type(4){
                        
                            &:hover{
                                transform: translate(0, -30px);
                            }
                        
                    }
                    &:nth-of-type(5){
                        
                            &:hover{
                                transform: translate(0, -30px);
                            }
                        
                    }
                    
                    >div{
                        display: flex;
                        height: 100%;
                        /* border: 1px solid olive; */
                        padding-top: 30px;
                        
                        
                        &:first-of-type{
                            width: 27%;
                            object-fit: cover;
                            >img{
                                width: 100%;
                                height: 100%;
                                
                            }

                        }
                        &:last-of-type{
                            width: calc(73% - 25px);
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-content: flex-start;
                            height: calc(100% - 30px);
                            align-self: flex-end;
                            background-color: rgba(201, 201, 201, 0.379);
                            
                            *{
                                width: 70%;
                            }
                            >p{
                                &:first-of-type{
                                    font-size: 25px;
                                    color: var(--fav);
                                    padding-top: 20px;
                                }
                                &:last-of-type{
                                    font-size: 25px;
                                    padding-top: 30px;

                                }
                            }
                            >h3{
                                font-size: 40px;
                                padding-top: 15px;
                                border-bottom: 1px dashed rgba(0, 0, 0, 0.52);
                                padding-bottom: 15px;
                            }
                            >div{
                                padding-top: 80px;
                                >button{
                                    box-shadow: 0 0 1px 0;
                                    width: 210px;
                                    height: 70px;
                                    background-color: var(--fav);
                                    
                                    /* border: 1px solid whitesmoke; */
                                    >a{
                                        font-size: 20px;
                                        text-transform: uppercase;
                                        padding: 12px 16px;
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}